body {
	margin: 0;
	padding: 0;
	width: 1200px;
	margin: 0 auto;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	color: black;
	text-transform: uppercase;
	background-color: #f2f2f2;
	box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.main-wrapper {
	width: 1200px;
	margin: 0 auto;
	background-color: white;
}


.background-wrapper {
	background-image: url(../img/background.jpg);
	background-size: 1200px 800px;		
	background-position: bottom center;
	background-repeat: no-repeat;
	background-position-y: -64px;
}

a {
	text-decoration: none;
}

.main-navigation {
	position: relative;
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
	color: black;
}

.site-navigation {
	display: flex;
	list-style: none;
	align-items: center;
	margin: 0;
	padding: 0 72px;
	max-width: 1200px;
	max-height: 56px;
	line-height: 56px;
}

a.site-navigation-link:first-of-type {
	margin-left: -22px;
}


.site-navigation a {
	color: black;
}

.site-navigation-link:hover {
	color: #81b3d2;
}

.site-navigation-link:active {
	color: rgba(0, 0, 0, 0.3);
}

.site-navigation-item .active {
	color: #766357;
	text-align: 112px 22px;
}

.site-navigation-item {
	width: 25%;
	margin: 0;
}

.site-navigation-item:last-child,
.site-navigation-item:nth-child(3) {
	text-align: right;
}


.index-logo {	
	height: 245px;
	padding: 130px 370px;
	margin-bottom: -2px; 
	background-image: url(../img/polygon.svg);
	background-repeat: no-repeat;
	background-position: bottom;
}

.index-logo-img {
	position: relative;
    bottom: 55px;
}

.polygon {
	margin-bottom: -10px;
}

.divider {
	border: none;
	background-color: rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.1);
	width: 100%;
	height: 1px;
}

.hotels-data-criteria {
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
}

.hotels-data-price {
	color: #81b3d2;
}

.hotels-data-type,
.hotels-data-rating {
	color: rgba(0, 0, 0, 0.3);
	border-bottom: dotted 1px #81b3d2;
}

.hotels-data-type:hover,
.hotels-data-rating:hover {
	color: #81b3d2;
}

.hotels-data-type:active,
.hotels-data-rating:active {
	color: black;
	border-bottom: none;
}

.icon-up-down {
	display: flex;
	justify-content: flex-end;
    margin-left: 515px;
}

.icon-down {
	fill: #81b3d2;
}

.icon-up {
	fill: #cacaca;
}

.icon-up:hover,
.icon-down:hover {
	fill: black;
}

.icon-up:active,
.icon-down:active {
	fill: #81b3d2;
}

.sedona-about {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	padding-top: 48px;
	padding-bottom: 60px;
}

.sedona-about-info-text {
	display: block;
	font-weight: bold;
	font-size: 21px;
	text-align: center;
	width: 440px;
	min-height: 48px;
	margin-right: 12px;
}

.sedona-about-reasons {
	display: block;
	font-weight: normal;
	color: #333333;
	text-align: center;
	width: 489px;
	min-height: 13px;
	margin-top: 5px;
    margin-right: 9px;
}

.item-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 400px;
	height: 256px;
	background-color: #81b3d2;
	margin-left: 0px;
}

.advantage-title {
	width: 120px;
	font-size: 21px;
	line-height: 21px;
}

.item-container .advantage-title {
	width: 130px;
	margin-top: 8px;
}

.advantage-item {
	display: flex;
	justify-content: space-around;
	text-align: center;
}

.advantage-image-1 {
/* 	display: flex;
	padding-left: 50px; */
}

.item-container-right {
	position: relative;
    top: 37px;
	display: flex;
    justify-content: space-between;
    align-items: center;
    height: 256px;
    background-color: #81b3d2;
}

.container-right {
	display: flex;
	flex-direction: column;
	width: 400px;
	align-items: center;
}

.container-right .advantage-title {
	width: 155px;
}

.container-right.advantage-text {
	padding-left: 8px;
}

.feature-2 {
	display: flex;
	width: 800px;
	height: 256px;
}

.advantage-number {
	overflow: hidden;
}

/* .advantage-number:before,
.advantage-number:after {
	content: "";
    display: inline-block;
    vertical-align: middle;
    width: 9px;
    border: solid 1px #333333;
    padding: 0;
    margin-bottom: 3px;
    margin-right: 4px;
    margin-left: 3px;
 }  */

.advantage-number,
.advantage-text {
	font-weight: normal;
	max-width: 305px;
	color: #333333;
}

.white .advantage-text  {
	color: white;
	padding-bottom: 8px;
}

.white .advantage-number {
	color: white;
}

/* .white .advantage-number:before,
.white .advantage-number:after {
	content: "";
	display: inline-block;
    vertical-align: middle;
    width: 9px;
    border: solid 1px white;
    padding: 0;
    margin-bottom: 3px;
    margin-right: 4px;
    margin-left: 3px;
} */

.advantage-item-container {
	display: flex;
	min-height: 255px;
	justify-content: space-around;
	align-items: center;
	margin: 0;
	padding: 0;
	background-color: #eeeeee;
}

.feature-1 {
	display: flex;
	margin-left: 400px;
    margin-bottom: -256px;
}

.advantage-item.white {
    display: block;
    color: white;
	text-align: center;
	margin-bottom: 0;
    margin-left: 0;
	padding-left: 0;
	margin-top: -24px;
}

.advantage-item-container .advantage-item {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
}

.reason-list {
	display: flex;
	width: 1200px;
	padding: 0px;
	background-color: white;
}

.reason {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	padding: 55px 55px;
}

.reason-list .reason:first-child {
	background-image: url(../img/icon-house.svg); 
	background-repeat: no-repeat;
	background-position: top center;
	margin-top: 50px;
	background-position-x: 164px;
    background-position-y: 8px;
}

.reason-list .reason:nth-child(2) {
	background-image: url(../img/icon-food.svg); 
	background-repeat: no-repeat;
	background-position: top center;
	margin-top: 50px;
	background-position-x: 166px;
    background-position-y: 8px;
}

.reason-list .reason:last-child {
	background-image: url(../img/icon-gift.svg); 
	background-repeat: no-repeat;
	background-position: top center;
	margin-top: 50px;
	background-position-x: 170px;
    background-position-y: 3px;
}

.reason-header {
	font-size: 21px;
	padding-top: 15px;
	padding-top: 32px;
    padding-left: 5px;
	margin-bottom: 0;
}

.reason-list:nth-child(2) .reason:nth-child(2) .reason-text {
	padding-left: 5px;
    padding-right: 4px;
}


.reservation-attention-title {
	margin-top: 57px;
}

.reason-text {
	width: 284px;
	line-height: 21px;
	padding-top: 7px;
    padding-left: 3px;
}

.reason-text,
.reservation-text {
	font-weight: normal;
	margin-left: 0;
	color: #333333;
}

.developed-text {
	font-weight: normal;
	margin-right: 8px;
}

.reservation-attention-title {
	font-weight: bold;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
}

.reservation-text {
	line-height: 24px;
	color: #333333;
	text-align: center;
}

.reservation-button {
	font-weight: bold;
	font-size: 21px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	width: 568px;
	height: 86px;
	margin-left: 316px;
	margin-top: 52px;
	background-color: #766357;
	border: none;
}

.map {
	background-image: url(../img/map.png);
	width: 1200px;
	height: 584px;
	position: relative;
    margin-bottom: -112px;
}

.form-container-1 {
	display: flex;
	padding-top: 55px;
}


.form-container-2 {
	display: flex;
}

.form-container-3,
.form-container-4 {
	display: flex;
}




.form-container {
	display: flex;
	width: 150px;
	margin-top: 30px;
}

.form-container
.booking-quantity {
	border: none;
}

.booking-quantity {
	width: 38px;
	text-align: center;
	background-color: #f2f2f2;
	outline: none;
}

.booking-form-button {
	width: 38px;
	height: 38px;
	border: none;
	background-color: #f2f2f2;
}

.booking-form-button:first-of-type {
	margin-left: 34px;
}

.form-container-4 .booking-form-button:first-of-type{
	margin-left: 20px;
}


.booking-form-label {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-left: 57px;
}

.form-container-2 {
	margin-top: 20px;
}

.reservation-button:hover {
	background-color: #604e43;
}

.reservation-button:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

.booking-form-submit-button {
	font-weight: bold;
	font-size: 21px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	width: 458px;
	height: 58px;
	margin-left: 55px;
	margin-right: 55px;
	margin-top: 54px;
	background-color: #81b3d2;
	border: none;
}

.booking-form-submit-button:hover {
	background-color: #669ec0;
}

.booking-form-submit-button:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.booking-form {
	background: white;
	width: 568px;
	height: 395px;
	margin-left: 316px;
}

.icon-calendar {
	position: absolute;
	border: none;
	background-color: inherit;
}

.calendar-svg {
	position: absolute;
	fill: #cacaca;
	left: 474px;
    top: 7px;
    fill: #cacaca;
}

.calendar-svg:hover {
	fill: black;
}

.calendar-svg:active{
	fill: #81b3d2;
}

.booking-check-in-date, 
.booking-check-out-date {
	margin-left: 17px;
	min-width: 329px;
	min-height: 38px;
	border: none;
	background-color: #f2f2f2;
	padding: 0;
}

.booking-check-in-date {
	margin-left: 21px;
	padding-left: 13px;
	color: black;
}

.booking-check-in-date:hover,
.booking-check-out-date:hover {
	background-color: #ebebeb;
}

.booking-check-in-date:focus,
.booking-check-out-date:focus {
	background-color: white;
	outline: none;
	border: 2px solid #e5e5e5;
}

.booking-check-out-date {
	padding-left: 13px;
}


input::placeholder {
	color: black;
	font-weight: bold;
	text-transform: uppercase;
}

.less,
.more {
	vertical-align: middle;
}

.header-logo {
		position: absolute;
		margin-left: 530px;
		top: -40px;
		display: flex;
		left: auto;
		max-height: 70px;
        margin-top: 0;
    }
 

.footer-contacts {
	font-size: 21px;
}

.social-item {
	list-style: none;
	display: flex;
	width: 150px;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}


li.social:hover {
	background-color: #669ec0;
}

li.social:active {
	background-color: #5496bd;
}

.social-img {
	padding-left: 15px;
    padding-top: 15px;
}

 .social-img:active {
	opacity: 0.3;
 } 

.social {
	position: relative;
	display: flex;
    margin-right: 6px;
    align-items: center;
	justify-content: center;
}

li.social {
	display: flex;
	align-items: center;
    justify-content: center;
	background-color: #81b3d2;
	width: 46px;
	height: 48px;
}

a.social-link {
	width: 46px;
	height: 48px;
}


.developed-text {

}

.html-academy {
	display: flex;
}

.html-academy-logo {
	width: 115px;
	height: 41px;
	object-fit: contain;
}

.search-result {
	font-size: 21px;
}

.sorting {
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
}

.site-navigation-link {
	color: #766357;
}

.hotels-data-list {
	list-style: none;
	padding-left: 0;
}

.hotels-data-link,
.hotels-data-link:visited {
	color: black;
}

.hotels-data-link:hover {
	color: #81b3d2;
}

.hotels-data-link:active {
	color: rgba(0, 0, 0, 0.3);
}

.hotel-type {
	margin-right: 38px;
}

.hotel-type,
.hotel-price {
	font-weight: normal;
	line-height: 21px;
	color: #333333;
}

.hotel-information {
	line-height: 21px;
	color: white;
	background-color: #81b3d2;
	padding: 9px 17px;
	margin-right: 10px;
}

.hotel-information:hover {
	background-color: #669ec0;
}

.hotel-information:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.hotel-booking {
	line-height: 21px;
	color: white;
	background-color: #766357;
	padding: 9px 17px;
}

.hotel-booking:hover {
	background-color: #604e43;
}

.hotel-booking:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

.icon-container {
	
}

.hotel-rating {
	margin-left: 522px;
	padding: 8px;
	font-weight: normal;
	line-height: 21px;
	color: #666666;
	background-color: #f2f2f2;
}

.icon-rating-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	
}


.rating-container::before {
	background-image: url(/img/star.svg)
}



.main-navigation {
	
}

.sedona-about-info-text {
	
}

.main {

}

.sedona-about-reasons {
	
}

.advantage-list {
	list-style: none;
	margin: 0;
	padding-left: 0;
	background-color: white;
}

.reason-list {
	list-style: none;
	margin: 0;
}

.reservation {

}

.booking-form {
	
}

.footer {
	position: absolute;
	width: 932px;
	max-height: 52px;
	display: flex;
	align-items: center;
	padding-left: 134px;
	padding-right: 134px;
	padding-top: 34px;
	padding-bottom: 34px;
	justify-content: space-between;
	background-color: rgba(255, 255, 255, 0.9);
}

.footer-hotels {
	width: 932px;
	max-height: 52px;
	display: flex;
	align-items: center;
	padding-left: 134px;
	padding-right: 134px;
	padding-top: 34px;
	padding-bottom: 34px;
	justify-content: space-between;
	background-color: rgba(255, 255, 255, 0.9);
}

.footer-phone-number {
	color: black;
}

.logo-name {
	fill: black;
}

.logo-name:hover {
	fill: #81b3d2;
}

.logo-name:active {
	fill: #bdbbbc;
}

.hotels-data-container {
	display: flex;
	align-items: center;
	padding-left: 70px;
	min-height: 86px;
	border-bottom: 1px solid rgba(61, 36, 36, 0.1);
	margin-bottom: -10px;
}

.sorting {
	display: flex;
	padding-left: 50px;
}

.hotel-container {
	padding-left: 30px;
}

.hotels-data-criteria {
	display: flex;
	justify-content: space-between;
	width: 240px;
	padding-left: 30px;
}

li.hotels-data {
	display: flex;
	border-bottom: 1px solid rgba(61, 36, 36, 0.1);
	padding-left: 0;
	padding-bottom: 30px;
	padding-top: 30px;
	margin-top: 0;
}

.hotels-data-title {
	display: flex;
	margin: 0;
}

.hotel-img {
	padding-left: 71px;
}

.hotel-info {
	display: flex;
	justify-content: space-between;
}

h2 {
	margin: 0;
}

.hotel-parameters {
	display: flex;
	color: white;
	background-image: url(../img/filter-background.jpg);
	background-repeat: no-repeat;
	width: 1200px;
	height: 217px;
	background-position: center center;
}

.parameter-container-1 {
	display: flex;
	flex-direction: column;
}

.parameter-container-2 {
	display: flex;
	flex-direction: column;
}

.parameter-name-1 {
	margin-left: 72px;
}

.parameter-name-2 {
	margin-left: 67px;
}

.parameters-list {
	list-style-type: none;
	margin-right: 95px;
}

.parameter {
	padding-left: 70px;
	margin-bottom: 20px;
}

.check-input {
	-webkit-appearance: none;
	-moz-appearance: none;
}

.checkbox {
	font-weight: normal;
} 


.check-input {
	position: absolute;
	margin-left: -40px;
	width: 27px;
	height: 23px;
	background-image: url(../img/checkbox-off.svg);
	background-repeat: no-repeat;
}

.check-input:checked{
	position: absolute;
	margin-left: -40px;
	width: 27px;
	height: 23px;
	background-image: url(../img/checkbox-on.svg); 
}

.filter-range {
	margin-left: 235px;
    margin-top: 31px;
	width: 315px;
}

.filter-range-title {
	font-size: 16px;
	font-weight: 600px;
	line-height: 21px;
	margin-bottom: 9px;
}

.price-controls {
	position: relative;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	height: 36px;
	margin-bottom: 20px;
	border: 2px solid #FFFFFF;
	border-radius: 2px;
	font-size: 0;
}

.price-controls::after {
	content: "";
	position: absolute;
	width: 2px;
	height: 22px;
	background: #ffffff;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.price-controls label {
	display: inline-block;
	padding-left: 52px;
	font-size: 14px;
	line-height: 32px;
	vertical-align: top;
	cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
	width: 50px;
	margin: 0;
	padding-left: 4px;
	color: inherit;
	font: inherit;
	background: none;
	border: none;
  }

  .range-controls {
	position: relative;
	margin-bottom: 32px;
  }

  .range-controls .scale {
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
  }

  .range-controls .bar {
	width: 80%;
	height: 2px;
	background: #ffffff;
  }

  .range-toggle {
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
  	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  	cursor: pointer;
  }

  .range-toggle-min {
	left: 0;
  }

  .range-toggle-max {
	left: 80%;
  }

  .range-toggle:hover {
	background: #1c4f80;
  }

  .button-transparent {
	display: block;
	margin: 0 auto;
	padding: 6px 35px;
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;
	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
  }

  .button-transparent:hover {
	color: #000000;
	background: #ffffff;
  }

 .form-hide {
	 display: none;
	
 }