body {
	margin: 0;
	padding: 0;
	width: 1200px;
	margin: 0 auto;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	color: black;
	text-transform: uppercase;
	background-color: #f2f2f2;
}

.main-wrapper {
	width: 1200px;
	margin: 0 auto;
	background-color: white;
}

.main {
	background-image: url("../img/background.jpg");
	background-size: 1200px 800px;
	background-position: top center;
	background-repeat: no-repeat;
}

a {
	text-decoration: none;
}

.main-navigation {
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
	color: black;
}

.site-navigation {
	display: flex;
	list-style: none;
	align-items: center;
	justify-content: space-around;
	padding-left: 0;
	padding-top: 0;
	padding-bottom: 0;
	margin: 0;
	max-width: 1200px;
	max-height: 56px;
}

.site-navigation a {
	color: black;
}

.site-navigation-link:hover {
	color: #81b3d2;
}

.site-navigation-link:active {
	color: rgba(0, 0, 0, 0.3);
}

.site-navigation-link .active {
	color: #766357;
	text-align: 112px 22px;
}

.index-logo {
	padding: 130px 370px;
}

.polygon {
	margin-bottom: -10px;
}

.hotels-data-criteria {
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
}

.hotels-data-price {
	color: #81b3d2;
}

.hotels-data-type,
.hotels-data-rating {
	color: rgba(0, 0, 0, 0.3);
	border-bottom: dotted 1px #81b3d2;
}

.hotels-data-type:hover,
.hotels-data-rating:hover {
	color: #81b3d2;
}

.hotels-data-type:active,
.hotels-data-rating:active {
	color: black;
	border-bottom: none;
}

.sedona-about {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	padding-top: 60px;
	padding-bottom: 60px;
}

.sedona-about-info-text {
	display: block;
	font-weight: bold;
	font-size: 21px;
	text-align: center;
	width: 440px;
	min-height: 48px;
}

.sedona-about-reasons {
	display: block;
	font-weight: normal;
	color: #333333;
	text-align: center;
	width: 489px;
	min-height: 13px;
	margin: 0;
}

.item-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 400px;
	height: 256px;
	background-color: #81b3d2;
	margin-left: 0px;
}

.advantage-item {
	display: flex;
	justify-content: space-around;
	text-align: center;
}

.advantage-image-1 {
/* 	display: flex;
	padding-left: 50px; */
}

.advantage-item.white {
	display: block;
	color: white;
	text-align: center;
}

.item-container-right {
	display: flex;
    justify-content: space-between;
    align-items: center;
    height: 256px;
    background-color: #81b3d2;
}

.container-right {
	display: flex;
	flex-direction: column;
	width: 400px;
	align-items: center;
}

.feature-2 {
	display: flex;
	width: 800px;
	height: 256px;
	
}

.advantage-number,
.advantage-text {
	font-weight: normal;
	max-width: 283px;
}

.advantage-item-container {
	display: flex;
	min-height: 255px;
	justify-content: space-around;
	align-items: center;
	margin: 0;
	padding: 0;
	background-color: #eeeeee;
}

.feature-1 {
	display: flex;
	margin-left: 400px;
    margin-bottom: -256px;
}

.advantage-item.white {
    display: block;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.advantage-item-container .advantage-item {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
}

.reason-list {
	display: flex;
	width: 1200px;
	padding: 0px;
	background-color: white;
}

.reason {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	padding: 55px 95px;
}

.reservation-attention-title {
	margin-top: 57px;
}

.reason-text,
.reservation-text {
	font-weight: normal;
	margin-left: 0;
}

.developed-text {
	font-weight: normal;
}

.reservation-attention-title {
	font-weight: bold;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
}

.reservation-text {
	line-height: 24px;
	color: #333333;
	text-align: center;
}

.reservation-button {
	font-weight: bold;
	font-size: 21px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	width: 568px;
	height: 86px;
	margin-left: 316px;
	margin-top: 52px;
	background-color: #766357;
	border: none;
}

.form-container-1 {
	display: flex;
	padding-top: 55px;
}

.booking-form-label {
	width: ;
}

.form-container-2 {
	display: flex;
}

.form-container-3 {
	display: flex;
}

.form-container-4 {
	display: flex;
}

.form-container {
	display: flex;
	width: 150px;
	margin-top: 30px;
}

.booking-form-label {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}

.form-container-2 {
	margin-top: 20px;
}

.reservation-button:hover {
	background-color: #604e43;
}

.reservation-button:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

.booking-form-submit-button {
	font-weight: bold;
	font-size: 21px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	width: 458px;
	height: 58px;
	margin-left: 55px;
	margin-right: 55px;
	margin-top: 54px;
	background-color: #81b3d2;
	border: none;
}

.booking-form-submit-button:hover {
	background-color: #669ec0;
}

.booking-form-submit-button:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.booking-form {
	background: white;
	width: 568px;
	height: 395px;
	margin-left: 316px;
}


/*  .field {
        border: none;
    }

    .check-in {
        font-weight: bold;
        margin-top: 169px;
        margin-left: 55px;
        margin-right: 322px;
    } */


.header-logo {
		display: flex;
		left: auto;
		max-height: 70px;
        margin-top: 0;
    }
 

.footer-contacts {
	font-size: 21px;
}

.social-item {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}

.social {
	background-color: #81b3d2;
	max-width: 46px;
	height: 48px;
}


.social {
	display: flex;
    margin-right: 6px;
    width: 46px;
    height: 48px;
    align-items: center;
    justify-content: center;
}

.developed-text {}

.html-academy-logo {
	width: 115px;
	height: 41px;
	object-fit: contain;
	margin-right: 101px;
}

.search-result {
	font-size: 21px;
}

.sorting {
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
}

.site-navigation-link {
	color: #766357;
	/* на странице отелей элемент должен быть другого цвета (цвет не поменялся) */
}

.hotels-data-list {
	list-style: none;
	padding-left: 65px;
}

.hotels-data-link,
.hotels-data-link:visited {
	color: black;
}

.hotels-data-link:hover {
	color: #81b3d2;
}

.hotels-data-link:active {
	color: rgba(0, 0, 0, 0.3);
}

.hotel-type {
	margin-right: 38px;
}

.hotel-type,
.hotel-price {
	font-weight: normal;
	line-height: 21px;
	color: #333333;
}

.hotel-information {
	line-height: 21px;
	color: white;
	background-color: #81b3d2;
	padding: 9px 17px;
	margin-right: 10px;
}

.hotel-information:hover {
	background-color: #669ec0;
}

.hotel-information:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.hotel-booking {
	line-height: 21px;
	color: white;
	background-color: #766357;
	padding: 9px 17px;
}

.hotel-booking:hover {
	background-color: #604e43;
}

.hotel-booking:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

.hotel-rating {
	font-weight: normal;
	line-height: 21px;
	color: #666666;
	background-color: #f2f2f2;
}

.main-navigation {
	
}

.sedona-about-info-text {
	
}

.main {

}

.sedona-about-reasons {
	
}

.advantage-list {
	list-style: none;
	margin: 0;
	padding-left: 0;
	background-color: white;
}

.reason-list {
	list-style: none;
	margin: 0;
}

.reservation {

}

.booking-form {
	
}

footer {
	display: flex;
	align-items: baseline;
	padding: 25px 40px;
	justify-content: space-between;
}

.footer-phone-number {
	color: black;
}

.hotels-data-container {
	display: flex;
	align-items: center;
	padding-left: 70px;
	min-height: 86px;
}

.sorting {
	display: flex;
	padding-left: 50px;
}

.hotel-container {
	padding-left: 30px;
}

.hotels-data-criteria {
	display: flex;
	justify-content: space-between;
	width: 240px;
	padding-left: 30px;
}

li.hotels-data {
	display: flex;
}

hotels-data-title {
	display: flex;
	margin: 0;
}

.hotel-info {
	display: flex;
	justify-content: space-between;
}

h2 {
	margin: 0;
}