body {
	margin: 0;
	padding: 0;
	width: 1200px;
	margin: 0 auto;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	color: black;
	text-transform: uppercase;
	background-color: #f2f2f2;
}

.main-wrapper {
	width: 1200px;
	margin: 0 auto;
	background-color: white;
}

.main {
	background-image: url("../img/background.jpg");
	background-size: 1200px 800px;
	background-position: top center;
	background-repeat: no-repeat;
}

a {
	text-decoration: none;
}

.main-navigation {
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
	color: black;
}

.site-navigation {
	display: flex;
	list-style: none;
	align-items: center;
	justify-content: space-around;
	padding-left: 0;
	padding-top: 0;
	padding-bottom: 0;
	margin: 0;
	max-width: 1200px;
	max-height: 56px;
	line-height: 56px;
}

.site-navigation a {
	color: black;
}

.site-navigation-link:hover {
	color: #81b3d2;
}

.site-navigation-link:active {
	color: rgba(0, 0, 0, 0.3);
}

.site-navigation-link .active {
	color: #766357;
	text-align: 112px 22px;
}

.index-logo {
	padding: 130px 370px;
	margin-bottom: -2px;
	background-image: url(/img/polygon.svg);
	background-repeat: no-repeat;
	background-position: bottom;
}

.polygon {
	margin-bottom: -10px;
}

.divider {
	border: none;
	background-color: rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.1);
	width: 100%;
	height: 1px;
}

.hotels-data-criteria {
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
}

.hotels-data-price {
	color: #81b3d2;
}

.hotels-data-type,
.hotels-data-rating {
	color: rgba(0, 0, 0, 0.3);
	border-bottom: dotted 1px #81b3d2;
}

.hotels-data-type:hover,
.hotels-data-rating:hover {
	color: #81b3d2;
}

.hotels-data-type:active,
.hotels-data-rating:active {
	color: black;
	border-bottom: none;
}

.sedona-about {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	padding-top: 60px;
	padding-bottom: 60px;
}

.sedona-about-info-text {
	display: block;
	font-weight: bold;
	font-size: 21px;
	text-align: center;
	width: 440px;
	min-height: 48px;
}

.sedona-about-reasons {
	display: block;
	font-weight: normal;
	color: #333333;
	text-align: center;
	width: 489px;
	min-height: 13px;
	margin: 0;
}

.item-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 400px;
	height: 256px;
	background-color: #81b3d2;
	margin-left: 0px;
}

.advantage-item {
	display: flex;
	justify-content: space-around;
	text-align: center;
}

.advantage-image-1 {
/* 	display: flex;
	padding-left: 50px; */
}

.advantage-item.white {
	display: block;
	color: white;
	text-align: center;
}

.item-container-right {
	display: flex;
    justify-content: space-between;
    align-items: center;
    height: 256px;
    background-color: #81b3d2;
}

.container-right {
	display: flex;
	flex-direction: column;
	width: 400px;
	align-items: center;
}

.feature-2 {
	display: flex;
	width: 800px;
	height: 256px;
	
}

.advantage-number,
.advantage-text {
	font-weight: normal;
	max-width: 283px;
	color: #333333;
}

.white .advantage-text  {
	color: white;
}

.white .advantage-number {
	color: white;
}

.advantage-item-container {
	display: flex;
	min-height: 255px;
	justify-content: space-around;
	align-items: center;
	margin: 0;
	padding: 0;
	background-color: #eeeeee;
}

.feature-1 {
	display: flex;
	margin-left: 400px;
    margin-bottom: -256px;
}

.advantage-item.white {
    display: block;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.advantage-item-container .advantage-item {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
}

.reason-list {
	display: flex;
	width: 1200px;
	padding: 0px;
	background-color: white;
}

.reason {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	padding: 55px 95px;
}

.reason-list .reason:first-child {
	background-image: url(/img/icon-house.svg); 
	background-repeat: no-repeat;
	background-position: top center;
	margin-top: 50px;
}

.reason-list .reason:nth-child(2) {
	background-image: url(/img/icon-food.svg); 
	background-repeat: no-repeat;
	background-position: top center;
	margin-top: 50px;
}

.reason-list .reason:last-child {
	background-image: url(/img/icon-gift.svg); 
	background-repeat: no-repeat;
	background-position: top center;
	margin-top: 50px;
}

.reason-header {
	padding-top: 15px;
	margin-bottom: 0;
}

.reservation-attention-title {
	margin-top: 57px;
}

.reason-text,
.reservation-text {
	font-weight: normal;
	margin-left: 0;
	color: #333333;
}

.developed-text {
	font-weight: normal;
	margin-right: 8px;
}

.reservation-attention-title {
	font-weight: bold;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
}

.reservation-text {
	line-height: 24px;
	color: #333333;
	text-align: center;
}

.reservation-button {
	font-weight: bold;
	font-size: 21px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	width: 568px;
	height: 86px;
	margin-left: 316px;
	margin-top: 52px;
	background-color: #766357;
	border: none;
}

.map {
	background-image: url(/img/map.png);
	width: 1200px;
	height: 584px;
	position: relative;
    margin-bottom: -112px;
}

.form-container-1 {
	display: flex;
	padding-top: 55px;
}


.form-container-2 {
	display: flex;
}

.form-container-3 {
	display: flex;
}

.form-container-4 {
	display: flex;
}

.form-container {
	display: flex;
	width: 150px;
	margin-top: 30px;
}

.booking-form-label {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}

.form-container-2 {
	margin-top: 20px;
}

.reservation-button:hover {
	background-color: #604e43;
}

.reservation-button:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

.booking-form-submit-button {
	font-weight: bold;
	font-size: 21px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	width: 458px;
	height: 58px;
	margin-left: 55px;
	margin-right: 55px;
	margin-top: 54px;
	background-color: #81b3d2;
	border: none;
}

.booking-form-submit-button:hover {
	background-color: #669ec0;
}

.booking-form-submit-button:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.booking-form {
	background: white;
	width: 568px;
	height: 395px;
	margin-left: 316px;
}

.icon-calendar {
	border: none;
    background-color: #f2f2f2;
}

.booking-check-in-date, 
.booking-check-out-date {
	border: none;
    background-color: #f2f2f2;
}

/*  .field {
        border: none;
    }

    .check-in {
        font-weight: bold;
        margin-top: 169px;
        margin-left: 55px;
        margin-right: 322px;
    } */


.header-logo {
		position: absolute;
		top: 38px;
		left: 50%;
		transform: translate(-50%, -50%);
		/* margin-left: 530px;
		top: -40px;
		display: flex;
		left: auto;
		max-height: 70px;
        margin-top: 0;
    } */
 

.footer-contacts {
	font-size: 21px;
}

.social-item {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}

.social {
	background-color: #81b3d2;
	max-width: 46px;
	height: 48px;
}


.social {
	display: flex;
    margin-right: 6px;
    width: 46px;
    height: 48px;
    align-items: center;
    justify-content: center;
}

.developed-text {}

.html-academy {
	display: flex;
}

.html-academy-logo {
	width: 115px;
	height: 41px;
	object-fit: contain;
}

.search-result {
	font-size: 21px;
}

.sorting {
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
}

.site-navigation-link {
	color: #766357;
	/* на странице отелей элемент должен быть другого цвета (цвет не поменялся) */
}

.hotels-data-list {
	list-style: none;
	padding-left: 65px;
}

.hotels-data-link,
.hotels-data-link:visited {
	color: black;
}

.hotels-data-link:hover {
	color: #81b3d2;
}

.hotels-data-link:active {
	color: rgba(0, 0, 0, 0.3);
}

.hotel-type {
	margin-right: 38px;
}

.hotel-type,
.hotel-price {
	font-weight: normal;
	line-height: 21px;
	color: #333333;
}

.hotel-information {
	line-height: 21px;
	color: white;
	background-color: #81b3d2;
	padding: 9px 17px;
	margin-right: 10px;
}

.hotel-information:hover {
	background-color: #669ec0;
}

.hotel-information:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.hotel-booking {
	line-height: 21px;
	color: white;
	background-color: #766357;
	padding: 9px 17px;
}

.hotel-booking:hover {
	background-color: #604e43;
}

.hotel-booking:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

.hotel-rating {
	margin-left: 522px;
	padding: 8px;
	font-weight: normal;
	line-height: 21px;
	color: #666666;
	background-color: #f2f2f2;
}

.rating-container {
	margin-top: 63px;
}

.main-navigation {
	
}

.sedona-about-info-text {
	
}

.main {

}

.sedona-about-reasons {
	
}

.advantage-list {
	list-style: none;
	margin: 0;
	padding-left: 0;
	background-color: white;
}

.reason-list {
	list-style: none;
	margin: 0;
}

.reservation {

}

.booking-form {
	
}

.footer {
	position: absolute;
	width: 932px;
	max-height: 52px;
	display: flex;
	align-items: center;
	padding-left: 134px;
	padding-right: 134px;
	padding-top: 34px;
	padding-bottom: 34px;
	justify-content: space-between;
	background-color: rgba(255, 255, 255, 0.9);
}

.footer-phone-number {
	color: black;
}

.hotels-data-container {
	display: flex;
	align-items: center;
	padding-left: 70px;
	min-height: 86px;
}

.sorting {
	display: flex;
	padding-left: 50px;
}

.hotel-container {
	padding-left: 30px;
}

.hotels-data-criteria {
	display: flex;
	justify-content: space-between;
	width: 240px;
	padding-left: 30px;
}

li.hotels-data {
	display: flex;
}

hotels-data-title {
	display: flex;
	margin: 0;
}

.hotel-info {
	display: flex;
	justify-content: space-between;
}

h2 {
	margin: 0;
}

.hotel-parameters {
	display: flex;
	color: white;
	background-image: url(/img/filter-background.jpg);
	background-repeat: no-repeat;
	width: 1200px;
	height: 217px;
	background-position: center center;
}

.parameter-container-1 {
	display: flex;
	flex-direction: column;
}

.parameter-container-2 {
	display: flex;
	flex-direction: column;
}

.parameter-name-1 {
	margin-left: 72px;
}

.parameter-name-2 {
	margin-left: 115px;
}

.parameters-list {
	list-style-type: none;
}

.parameter {
	padding-left: 70px;
}

.check-input {
	-webkit-appearance: none;
	-moz-appearance: none;
}

/* .check-box {
	background-image: url(/img/checkbox-off.svg);
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
} */


.check-input {
	position: absolute;
	margin-left: -20px;
	width: 10px;
	height: 10px;
	background-image: url(/img/checkbox-off.svg);
}

.check-input:checked{
	position: absolute;
	margin-left: -20px;
	width: 10px;
	height: 10px;
	background-image: url(/img/checkbox-on.svg); 


.filter-range {
	margin-left: 350px;
    margin-top: 31px;
	width: 315px;
	/* height: 155px; */
}

.filter-range-title {
	font-size: 16px;
	font-weight: 600px;
	line-height: 21px;
	margin-bottom: 9px;
}

.price-controls {
	position: relative;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	height: 36px;
	margin-bottom: 20px;
	border: 2px solid #FFFFFF;
	border-radius: 2px;
	font-size: 0;
}

.price-controls::after {
	content: "";
	position: absolute;
	width: 2px;
	height: 22px;
	background: #ffffff;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.price-controls label {
	display: inline-block;
	padding-left: 52px;
	font-size: 14px;
	line-height: 32px;
	vertical-align: top;
	cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
	width: 50px;
	margin: 0;
	padding-left: 4px;
	color: inherit;
	font: inherit;
	background: none;
	border: none;
  }

  .range-controls {
	position: relative;
	margin-bottom: 32px;
  }

  .range-controls .scale {
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
  }

  .range-controls .bar {
	width: 80%;
	height: 2px;
	background: #ffffff;
  }

  .range-toggle {
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
  	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  	cursor: pointer;
  }

  .range-toggle-min {
	left: 0;
  }

  .range-toggle-max {
	left: 80%;
  }

  .range-toggle:hover {
	background: #1c4f80;
  }

  .button-transparent {
	display: block;
	margin: 0 auto;
	padding: 6px 35px;
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;
	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
  }

  .button-transparent:hover {
	color: #000000;
	background: #ffffff;
  }